@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

html,
body {
	scroll-behavior: smooth;
}

::-webkit-scrollbar {
	width: 8px;
}

::-webkit-scrollbar-track {
	background: transparent;
}

::-webkit-scrollbar-thumb {
	background-color: #4c5164ad;
	border-radius: 20px;
}

/* Basic editor styles */
.ProseMirror > *  {
  margin: 0 !important;
  color: black;
  font-size: 18px;
}

.ProseMirror strong{
  color: black
}

.ProseMirror p {
  font-size: 16px;
}

.ProseMirror h1 {
  font-size: 24px;
}

.ProseMirror h2 {
  font-size: 20px;
}

.ProseMirror h1,
.ProseMirror h2 {
  line-height: 1.1;
  font-weight: bold;
}

.ProseMirror code {
  background-color: rgba(97, 97, 97, 0.1);
  color: #616161;
}

.ProseMirror pre code {
  color: inherit;
  padding: 0;
  background: none;
  font-size: 16px;
}

.ProseMirror hr {
  border: none;
  border-top: 2px solid rgba(13, 13, 13, 0.1);
  margin: 2rem 0;
}

.ProseMirror p.is-editor-empty:first-child::before {
  content: attr(data-placeholder);
  float: left;
  color: #adb5bd;
  font-size: 16px;
  pointer-events: none;
  height: 0;
}