@tailwind base;
@tailwind components;
@tailwind utilities;
 
@layer base {
  :root {
    --background: hsl(0 0% 100%);
    --foreground: hsl(0 0% 3.9%);

    --card: hsl(0 0% 100%);
    --card-foreground: hsl(0 0% 3.9%);
 
    --popover: hsl(0 0% 100%);
    --popover-foreground: hsl(0 0% 3.9%);
 
    --primary: hsl(0 0% 9%);
    --primary-foreground: hsl(0 0% 98%);
 
    --secondary: hsl(0 0% 96.1%);
    --secondary-foreground: hsl(0 0% 9%);
 
    --muted: hsl(0 0% 96.1%);
    --muted-foreground: hsl(0 0% 45.1%);
 
    --accent: hsl(0 0% 96.1%);
    --accent-foreground: hsl(0 0% 9%);
 
    --destructive: hsl(0 84.2% 60.2%);
    --destructive-foreground: hsl(0 0% 98%);

    --border: hsl(0 0% 89.8%);
    --input: hsl(0 0% 89.8%);
    --ring: hsl(0 0% 3.9%);
 
    --radius: 0.5rem;
  }
 
  .dark {
    --background: hsl(0 0% 3.9%);
    --foreground: hsl(0 0% 98%);
 
    --card: hsl(0 0% 3.9%);
    --card-foreground: hsl(0 0% 98%);
 
    --popover: hsl(0 0% 3.9%);
    --popover-foreground: hsl(0 0% 98%);
 
    --primary: hsl(0 0% 98%);
    --primary-foreground: hsl(0 0% 9%);
 
    --secondary: hsl(0 0% 14.9%);
    --secondary-foreground: hsl(0 0% 98%);
 
    --muted: hsl(0 0% 14.9%);
    --muted-foreground: hsl(0 0% 63.9%);
 
    --accent: hsl(0 0% 14.9%);
    --accent-foreground: hsl(0 0% 98%);
 
    --destructive: hsl(0 62.8% 30.6%);
    --destructive-foreground: hsl(0 0% 98%);
 
    --border: hsl(0 0% 14.9%);
    --input: hsl(0 0% 14.9%);
    --ring: hsl(0 0% 83.1%);
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}


html,
body {
	scroll-behavior: smooth;
}

::-webkit-scrollbar {
	width: 8px;
}

::-webkit-scrollbar-track {
	background: transparent;
}

::-webkit-scrollbar-thumb {
	background-color: #4c5164ad;
	border-radius: 20px;
}

/* Basic editor styles */
.ProseMirror > *  {
  margin: 0 !important;
  color: black;
  font-size: 18px;
}

.ProseMirror strong{
  color: black
}

.ProseMirror p {
  font-size: 16px;
}

.ProseMirror h1 {
  font-size: 24px;
}

.ProseMirror h2 {
  font-size: 20px;
}

.ProseMirror h1,
.ProseMirror h2 {
  line-height: 1.1;
  font-weight: bold;
}

.ProseMirror code {
  background-color: rgba(97, 97, 97, 0.1);
  color: #616161;
}

.ProseMirror pre code {
  color: inherit;
  padding: 0;
  background: none;
  font-size: 16px;
}

.ProseMirror hr {
  border: none;
  border-top: 2px solid rgba(13, 13, 13, 0.1);
  margin: 2rem 0;
}

.ProseMirror p.is-editor-empty:first-child::before {
  content: attr(data-placeholder);
  float: left;
  color: #adb5bd;
  font-size: 16px;
  pointer-events: none;
  height: 0;
}


.infinite-scroll-component__outerdiv{
  width: 100% !important
}